<div class="feat bg-gray pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="section-head col-sm-12">
          <h4><span>Why Choose</span> Us?</h4>
          <p>We are a team of versatile and experienced professionals including ambassadors, experienced staff, tour guides and team leads having years of experiences in the tourism industry. We are aiming for our excursions to be impactful for our clients, and for the communities they visit across Pakistan.</p>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_one"><i class="fa fa-globe"></i></span>
            <h6>Destinations</h6>
            <p>We provide tours and packages for the post exoctic places across Pakistan.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_two"><i class="fa fa-anchor"></i></span>
            <h6>Safetly</h6>
            <p>We make sure to use the most reliable and appropriate means of transportaion as well as accomodation.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_three"><i class="fa fa-hourglass-half"></i></span>
            <h6>24 x 7 User Support</h6>
            <p>If our customers have any problem and any query, we are always happy to help them.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_four"><i class="fa fa-database"></i></span>
            <h6>Affordable</h6>
            <p>We make sure our packages are affordables for all types of people with different budgets.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_five"><i class="fa fa-upload"></i></span>
            <h6>Custom-Friendly</h6>
            <p>We take into account the customer's needs and requirements and curate custom packages as well.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_six"><i class="fa fa-camera"></i></span>
            <h6>Memorable Pictures</h6>
            <p>Our team is always there to take worth-while pictures of your and your friends.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
