<br><br><br><br>

<div class="cajaDeperfiles">
`
    <div class="contenedor">
      <div class="contenedorSuperior">
        <div class="imgBox">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrFjXeR3ZrlgzV3X0KvAUhktE3XecfU63O_Q&usqp=CAU" alt="emilia">
        </div>
      </div>

      <div class="cajaInfo">
        <div class="info">
          <div class="tapadera"></div>
          <h2>
            Malam Jabba <br />
            <span class="Texdelgado"> Khyber Pakhtunkhwa </span>
          </h2>
          <div class="Data">
            <h3> Malam Jabba is a Hill Station and ski resort in the Hindu Kush mountain range nearly 40 km from Saidu Sharif in Swat Valley, Khyber Pakhtunkhwa Province of Pakistan  </h3>
            
          </div>
          <button>
            <a href="#"
              >More</a
            >
          </button>
        </div>
      </div>
    </div>
    
    <div class="contenedor">
      <div class="contenedorSuperior">
        <div class="imgBox"><img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/19/d3/5d/ee/book-your-trip-now-for.jpg?w=600&h=-1&s=1" alt="Beatice"></div>
      </div>

      <div class="cajaInfo">
        <div class="info">
          <div class="tapadera"></div>
          <h2>
            Hunza <br />
            <span class="Texdelgado"> Gilgit-Baltistan </span>
          </h2>
          <div class="Data">
            <h3> The Hunza Valley or Hunza is a mountainous valley in the northern part of the Gilgit-Baltistan region of Pakistan, formed by the Hunza River, bordering Ishkoman to the northwest, Shigar to the southeast, Afghanistan's Wakhan Corridor to the north, and the Xinjiang region of China to the northeast. </h3>
            
          </div>
          <button>
            <a href="#"
              >More</a
            >
          </button>
        </div>
      </div>
    </div>  

    <div class="contenedor">
      <div class="contenedorSuperior">
        <div class="imgBox"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTj6ra7zaoMklzqazpaYEFjg_ReZgVcZeqKjX-I9Gc4LOG2RFbwGxLIYNVFkiNw9H9MGl0&usqp=CAU" alt="rem"></div> 
      </div>

      <div class="cajaInfo">
        <div class="info">
          <div class="tapadera"></div>
          <h2>
            Skardu <br />
            <span class="Texdelgado"> Gilgit-Baltistan</span>
          </h2>
          <div class="Data">
            <h3> Skardu is a city located in Gilgit−Baltistan, Pakistan, and serves as the capital of Skardu District and the Baltistan Division. Skardu is situated at an elevation of nearly 2,500 metres in the Skardu Valley, at the confluence of the Indus and Shigar Rivers. </h3>
    
          </div>
          <button>
            <a href="#"
              >More</a
            >
          </button>
        </div>
      </div>
    </div> 

  </div>

  <br><br>

<div class="cajaDeperfiles">
`
    <div class="contenedor">
      <div class="contenedorSuperior">
        <div class="imgBox">
          <img src="http://rockvalleytours.com/wp-content/uploads/2019/06/Chitral.jpg" alt="emilia">
        </div>
      </div>

      <div class="cajaInfo">
        <div class="info">
          <div class="tapadera"></div>
          <h2>
            Chitral <br />
            <span class="Texdelgado"> Khyber Pakhtunkhwa </span>
          </h2>
          <div class="Data">
            <h3> Chitral situated on the Chitral River in northern Khyber Pakhtunkhwa, Pakistan. It serves as the capital of the Chitral District and before that as the capital of Chitral princely state </h3>
            
          </div>
          <button>
            <a href="#"
              >More</a
            >
          </button>
        </div>
      </div>
    </div>
    
    <div class="contenedor">
      <div class="contenedorSuperior">
        <div class="imgBox"><img src="https://i0.wp.com/www.opindia.com/wp-content/uploads/2020/07/EcyLlI8X0AACaxc.jpg?resize=1024%2C574&ssl=1" alt="Beatice"></div>
      </div>

      <div class="cajaInfo">
        <div class="info">
          <div class="tapadera"></div>
          <h2>
            Gwadar <br />
            <span class="Texdelgado"> Balochistan </span>
          </h2>
          <div class="Data">
            <h3> Gwadar is a port metropolitan with the title capital of South Balochistan, located on the southwestern coast of Balochistan, Pakistan. The city is located on the shores of the Arabian Sea opposite Oman. </h3>
            
          </div>
          <button>
            <a href="#"
              >More</a
            >
          </button>
        </div>
      </div>
    </div>  

    <div class="contenedor">
      <div class="contenedorSuperior">
        <div class="imgBox"><img src="https://dailytimes.com.pk/assets/uploads/2018/05/23/1-1.jpg" alt="rem"></div> 
      </div>

      <div class="cajaInfo">
        <div class="info">
          <div class="tapadera"></div>
          <h2>
            Quetta <br />
            <span class="Texdelgado"> Balochistan </span>
          </h2>
          <div class="Data">
            <h3> Quetta, formerly known as Shalkot, is the provincial capital and largest city of the Pakistani province of Balochistan. It is also the 10th largest city in Pakistan. </h3>
    
          </div>
          <button>
            <a href="#"
              >More</a
            >
          </button>
        </div>
      </div>
    </div> 

  </div>

  <br><br>

  <div class="cajaDeperfiles">
  `
      <div class="contenedor">
        <div class="contenedorSuperior">
          <div class="imgBox">
            <img src="https://rising-pakistan.com/wp-content/uploads/2021/01/Tomb-of-Shah-Rukn-e-Alam-Multan.jpg" alt="emilia">
          </div>
        </div>
  
        <div class="cajaInfo">
          <div class="info">
            <div class="tapadera"></div>
            <h2>
              Multan <br />
              <span class="Texdelgado"> Punjab </span>
            </h2>
            <div class="Data">
              <h3> Multan is a city and capital of Multan Division located in Punjab, Pakistan. Situated on the bank of the Chenab River, Multan is Pakistan's 7th largest city and is the major cultural and economic centre of Southern Punjab. Multan's history stretches deep into antiquity.  </h3>
              
            </div>
            <button>
              <a href="#"
                >More</a
              >
            </button>
          </div>
        </div>
      </div>
      
      <div class="contenedor">
        <div class="contenedorSuperior">
          <div class="imgBox"><img src="https://www.voquent.com/t.php?src=https://s3.voquent.com/media/cities/faisalabad.jpg&w=720&h=406&s=1&zc=1" alt="Beatice"></div>
        </div>
  
        <div class="cajaInfo">
          <div class="info">
            <div class="tapadera"></div>
            <h2>
             Faislabad <br />
              <span class="Texdelgado"> Punjab </span>
            </h2>
            <div class="Data">
              <h3> Faisalabad, formerly known as Lyallpur, named after the founder of the city is the third-most-populous city in Pakistan after Karachi and Lahore respectively, and the second-largest in the eastern province of Punjab. </h3>
              
            </div>
            <button>
              <a href="#"
                >More</a
              >
            </button>
          </div>
        </div>
      </div>  
  
      <div class="contenedor">
        <div class="contenedorSuperior">
          <div class="imgBox"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/PK_Hyderabad_asv2020-02_img03_Talpur_Tombs.jpg/330px-PK_Hyderabad_asv2020-02_img03_Talpur_Tombs.jpg" alt="rem"></div> 
        </div>
  
        <div class="cajaInfo">
          <div class="info">
            <div class="tapadera"></div>
            <h2>
              Hyderabad <br />
              <span class="Texdelgado"> Sindh</span>
            </h2>
            <div class="Data">
              <h3> Hyderabad is a city and capital of Hyderabad Division in the Sindh province of Pakistan. It is the second-largest city in Sindh, and the eight-largest in Pakistan. </h3>
      
            </div>
            <button>
              <a href="#"
                >More</a
              >
            </button>
          </div>
        </div>
      </div> 
  
    </div>
  
    <br><br><br><br>
  
  
